/*promotion design change*/
@media (min-width:991px) {
	.got-an-emergency {
		.cta_link {
			.line_height_30 {
				line-height: 37.05px !important;
			}
		}
	}
	.finance_logo_swiper {
		.col-4 {
			width: 250px !important;
		}
	}
	#contact_labels {
		.gform_fields {
			display: flex !important;
			flex-wrap: wrap;
		}
		.order-8 {
			width: 100% !important;
			max-width: 100% !important;
			min-width: 100% !important;
		}
	}
	.contact_form {
		.gform_body{
			ul.gform_fields{
				li.gfield{
					.ginput_container_textarea{
						position: relative !important;
						.textarea{
							position: absolute !important;
						}
						.large{
							background: none !important;
						}
					}
				}
			}
		}
	}
	#gform_submit_button_3 {
		width: 100%;
	}

}

.free_estimate_accord {
	.accordion-header[aria-expanded="true"] {
		.icon-plus {
			&:before {
				content: "\f69f";
			}
		}
	}
}
.schedule_service_accord {
	.accordion-header[aria-expanded="true"] {
		.icon-plus {
			&:before {
				content: "\f69f";
			}
		}
	}
}
.max-w-250{
	max-width: 250px !important;
}
.promotionC_icon {
	color: $black_color !important;
	&:hover {
		color: $tertiary_color !important;
	}
}
.border-primary-dashed {
	border: 5px dashed $primary_color !important;
}

.hiring_icon {
	i {
		color: $tertiary_color;
	}
}
.coupon_name {
	.btn {
		&.btn-border {
			border: 1px solid $black_color !important;
			color: $black_color !important;
		}
	}
	.promotionC_icon {
	    color: $black_color !important;
	    &:hover{
	    	color: $tertiary_color !important;
	    }
	}
}
.proudly_serving_area {
	@media screen and (min-width: 400px) and (max-width: 540px) {
        background-position: top center !important;
    }
	.border-bottom-tertiary {
		border-bottom: 1px solid $white_color !important;
	}
	a {
		font-family: $font_family_1 !important;
		font-weight: 600 !important;
		&:hover {
			color: $primary_color !important;
		}
		i{
			top: 0 !important;
		}
	}
	&::before {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: $black_color;
		opacity: .5;
		z-index: 1;
		position: absolute;
	}
	.container{
		z-index: 2;
		position: relative;
	}
}
.icon-bars2 {
	color: $black_color;
}
.phone-icon {
	.icon-phone-flip {
		color: $tertiary_color !important;
	}
}
.got-an-emergency {
	a {
		&:hover {
			span {
				color: $primary_color !important;
			}
		}
	}
	.cta_link {
		&:hover {
			div {
				color: $primary_color !important;
			}
		}
	}
}
.gform_wrapper {
	ul.gfield_checkbox {
		li {
			label {
				line-height: 19.07px !important;
			}
		}
	}
}
.social_media_icons {
	font-size: 20px !important;
	line-height: 25px !important;
	letter-spacing: 5px;
}
.read-more-btn {
	&:hover {
		span {
			color: $primary_color !important;
		}
		i {
			color: $primary_color !important;
		}
	}
}
.contact_form, .schedule_service_form, .free_estimate_form{
	.gform_wrapper{
		ul.gform_fields{
			li.gfield{
				padding-bottom: 22px !important;
				.ginput_container_select{
					&:after {
						border-color: #3d3d3d  !important;
					}
					select.gfield_select, select.gfield_select option {
						color: #3d3d3d !important;
						text-transform: inherit;
						font-family: $font_family_2 !important;
					}
				}
				ul.gfield_checkbox {
					li {
						label {
							font-family: $font_default !important;
							line-height: 17.6px !important;
						}
					}
				}
			}
		}
	}
}
#request_service, .banner-form{
	.gform_wrapper{
		ul.gform_fields{
			li.gfield{
				.ginput_container_select{
					select.gfield_select, select.gfield_select option {
						text-transform: inherit;
						font-family: $font_family_2 !important;
					}
				}
			}
		}
	}
}
.free_estimate_form{
	.gform_wrapper{
		ul.gform_fields{
			li.gfield{
				ul.gfield_checkbox {
					li {
						label {
							color: #3d3d3d !important;
							font-family: $font_family_2 !important;
							line-height: 19.07px !important;
						}
					}
				}
				&.gf_left_half, &.gf_right_half{
					.ginput_container_select:after {
						border-color: $black_color !important;
					}
				}
			}
		}
	}
}
.career_faq {
	.accordion-item.rounded-0.border-1 {
		cursor: pointer !important;
		border: 1px solid #E5E5E5 !important;
	}
}
.accordion{
	.accordion-item{
		&:hover{
			cursor: pointer !important;
		}
	}
}
.social_icons_contact {
	&:hover {
		i {
			color: $primary_color !important;
		}
	}
}
.blog_read_more_text_color {
	font-size: 18px;
	line-height: 23px;
	font-weight: 600;
	font-family: $font_family_1;
	color: $tertiary_color !important;
	&:hover {
		span {
			color: $primary_color !important;
		}
		i {
			color: $primary_color !important;
		}
	}
}

.single-post {
	.subpage_full_content {
		.button {
			&:hover {
				color: $primary_color;
			}
		}
	}
}
.mobile_popup_form_background_color {
	.btn-quaternary {
		font-family: $font_family_2 !important;
	}
}
.blogs {
	.continue {
		&:hover {
			color: $primary_color !important;
		}
	}
}
.promotion_c {
	.btn-secondary {
		&:hover {
			color: $white_color !important;
		}
		&::before {
			content: "" !important;
			display: inline-block;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background-color: $black_color !important;
			color: $white_color !important;
			opacity: 1;
			position: absolute;
		}
	}
}
#gform_5 {
	ul.gfield_checkbox {
		li {
			label {
				line-height: 17.6px !important;
				font-family: $font_default !important;
			}
		}
	}
}
.nav_container_desktop {
	#navbarSupportedContentDesktop {
		ul.navbar-nav {
			ul {
				border-top: 12px solid $tertiary_color !important;
			}
		}
	}
}
.page-template-rds-about-us {
	.bc_homepage {
		ul {
			max-width: 100%;
			width: 100%;
		}
	}
}
.service_subpage_banner, .subpage_banner {
	min-height: 252px !important;
	@media only screen and (max-width: 991px) {
		min-height: 144px !important;
	}
	.btn-secondary {
		background-color: $primary_color !important;
		&::before {
			background: #FCCD4A !important;
		}
	}
}

.service_overlay {
	position: relative;
}
.text-index {
	position: relative;
	z-index: 1111;
}
.gform_footer {
	position: relative;
}
div.gform_legacy_markup_wrapper {
	.gform_ajax_spinner {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 20px 50% 20px 50% !important;
	}
}
.gform_ajax_spinner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 20px 50% 20px 50% !important;
}
.rds_gform_submit_click {
	opacity: 0.2;
}
#tlogox {
	fill: $primary_color !important;
	margin-bottom: 5px;
	&:hover {
		fill: $white_color !important;
	}
}
.contact-social{
	#tlogox {
		&:hover {
			fill: $primary_color !important;
		}
	}
}

@media (hover: none), only screen and (max-width: 991px) {
    .bc_nav_container_mobile{
    	#navbarSupportedContent{
    		> ul.navbar-nav{
    			> li.menu-item{
    				&:last-child {
						border-bottom: 1px solid $black_color;
					}
					padding: 0px;
					border-top: 1px solid $black_color;
    				a{
    					span.nav-link-title{
							font-family: $font_family_1 !important;
						}
					}
				}
			}
		}
	}
	.border-lg-left {
		border-left: 1px solid $white_color;
	}
}
.no_underline{
	text-decoration: none !important;
}
.mobile_popup_form_background_color{
	a.btn-quaternary, span.btn-quaternary{
		border: 1px solid $white_color !important;
	}
}
i.icon-twitter{
	height: 20px;
	width: 20px;
	display: inline-block;
	background-color: $primary_color;
    -webkit-mask-image: url(../img/svg/x-twitter.svg);
    mask-image: url(../img/svg/x-twitter.svg);
    &:before {
    	display: none !important;
    }
    &:hover{
    	background-color: $white_color !important;
    }
}
.contact-social{
	i.icon-twitter{
		height: 35px;
		width: 35px;
		background-color: $primary_color !important;
	    &:hover{
	    	background-color: $primary_color !important;
	    }
	}
}
.gform_wrapper{
	ul.gform_fields{
		li.gfield{
			ul.gfield_checkbox li {
			    max-width: 325px !important;
			}
		}
	}
}
.e-con-inner{
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
  gap: 0 !important;
}
.e-con.e-parent{
  padding: 0 !important;
  gap: 0 !important;
  background: none !important;
}
.schedule_accordion{
	.step:nth-child(2), .step:nth-child(3){
		&:before {
			top: 59px !important;
		}
	}
}
.estimate_accordion:after {
	z-index: -1 !important;
}
@media screen and (max-width: 768px) {
	main.subpage-sidebar-container{
		padding-left: 0 !important;
		padding-right: 0 !important;
		.elementor-column.elementor-col-66{
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
	}
	h1.elementor-heading-title.elementor-size-default{
		font-size: 32px !important;
		line-height: 37px !important;
	}
	.px_2{
		padding-left: 2px !important;
		padding-right: 2px !important;
	}
	header .elementor-element-populated {
		box-shadow: none !important;
	}
}
.read-more-btn.button, .back_to_blog {
  font-size: 18px !important;
  line-height: 23px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-family: $font_family_1 !important;
  color: $tertiary_color !important;
  &:hover{
  	color: $primary_color !important;
  }
  &.mw-132 {
  	min-width: 115px !important;
  }
}
a.btn{
	text-decoration: none !important;
}
@media screen and (max-width: 1199px) {
	.schedule_service_form{
	    .schedule_accordion{
	    	.step:nth-child(3):before {
	    		left: 400px !important;
	    		z-index: -1 !important;
	    	}
	    	.step:nth-child(2):before {
	    		z-index: -1 !important;
	    	}
	    }
	}
}
.text_semibold {
    font-weight: 600 !important;
}
.font_alt_1 {
    font-family: Oswald !important;
}
.text-unset{
	text-transform: unset !important;
}
.bg-secondary-alt {
    background-color: rgba(148, 156, 161, 0.07) !important;
}
.got-an-emergency{
	a.cta_call_link, .cta_link{
		.a-alt.font_default, div{
			font-family: $font_family_1 !important;
		}
	}
	.heading_title{
		font-family: $font_family_1 !important;
		@media screen and (min-width: 992px) {
			line-height: 41px !important;
		}
	}
}
.max-w-248{
	max-width: 248px !important;
}
.max-w-348{
	max-width: 348px !important;
}
.max-w-365{
	max-width: 365px !important;
}
.sidebar {
	.gform_wrapper {
		ul.gform_fields{
			li.gfield{
				&.gfield--type-checkbox{
					padding-bottom: 3px !important;
				}
				ul.gfield_checkbox {
					li {
						label {
							line-height: 17.6px !important;
							font-family: $font_default !important;
						}
					}
				}
				.ginput_container_select{
					select.gfield_select, select.gfield_select option {
						color: $white_color !important;
						text-transform: inherit;
						font-family: $font_family_2 !important;
					}
				}
			}
		}
	}
}
[role="button"], a {
    cursor: pointer !important;
}
.blog-page-pagination{
	.pagination{
		.page-item{
			.page-link{
				text-decoration: none !important;
				&.current, &:hover {
					color: $black_color !important;
			    	background-color: $primary_color !important;
			    }
			}
		}
	}
}
.service_block{
	&:hover{
		.h7{
			color: $tertiary_color !important;
		}
	}
}
@media screen and (min-width: 640px) {
    .gform_wrapper{
    	#gform_9{
	    	ul.gform_fields{
	    		li.gfield{
	    			&.gf_left_half {
	    				width: 50% !important;
	    				min-width: 50% !important;
				        padding-left: 0px !important;
				        padding-right: 13px !important;
				    }
				    &.gf_right_half {
				    	width: 50% !important;
				    	min-width: 50% !important;
				        padding-left: 13px !important;
				        padding-right: 0px !important;
				    }
				}
			}
		}
    }
}
@media only screen and (max-width: 767px) {
    div.got-an-emergency {
    	background: url(../img/in-content-cta/m-in-content-bg.jpg) !important;
    	background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }
    .hero_banner_form_background{
    	.banner-form{
    		.gform_wrapper{
    			ul{
    				max-width: 290px !important;
    				margin: 0 auto !important;
	    		}
	    	}
	    }
	}
}

.sidebar .border_form{
	.gform_wrapper{
		ul{
			li.gfield{
				.large{
					color: $white_color !important;
				}
			}
		}
	}
}
.contact_form.contact_page{
	.gform_wrapper{
		ul.gform_fields{
			display: flex !important;
			flex-wrap: wrap !important;
			li.gfield{
				&:last-child{
					width: 100% !important;
				}
			}
		}
	}
}
.request_form{
	.gform_wrapper{
		ul.gform_fields{
			li.gfield{
				.ginput_container_select{
					select.gfield_select{
						font-family: $font_family_2 !important;
						option{
							font-family: $font_family_2 !important;
						}
					}
				}
			}
		}
	}
}
#request_service{
	background: $secondary_color !important;
}

.gform_wrapper {
	.gform_body {
		.signup_checkbox {
			.ginput_container_checkbox {
				ul.gfield_checkbox {
					li.gchoice {
						max-width: 100% !important;
						min-width: 100% !important;
						width: 100% !important;
						label {
							position: static;
							white-space: wrap !important;
						}
					}
				}
			}
		}
	}
}
.signup_checkbox {
	.gfield_checkbox {
		max-width: 100% !important; 
		min-width: 100% !important;
		width: 100% !important;
		max-width: 100% !important; 
		.gchoice {
			display: flex;
			align-items: center;
			justify-content: center;
            align-items: flex-start;
		}
		label.gform-field-label {
			position: static;
			white-space: wrap !important; 
		}  
	} 
} 
.landing-banner-left {
	margin-left: -12px;
	padding: 79px 90px 74px 90px;
	max-width: 769px;
}
.banner-checklist {
	li {
		color: #000;
		font-size: 22.16px;
		font-style: normal;
		font-weight: 500;
		line-height: 41.551px;
		margin-bottom: 15px;
	}
}
body {
	ul.banner-checklist {
		li {
			&:before {
				background: #000 !important;
			}
		}
	}
}
@media (max-width: 767px) {
	body {
		.elementor-widget-rds-global-landing-page-banner-widget {
			.h-613 {
				height: 197px !important;
			}
		}
		.m-landing-banner-left {
			ul.banner-checklist {
				li {
					&:before {
						background: #fff !important;
					}
				}
			}
		}
	}
	.m-landing-banner-left {
		padding: 30px 15px;
	}
	.banner-checklist {
		li {
			color: #FFF;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 21px;
		}
	}
}
