// Use this file to overwrite the basic Bootstrap variables and add your own variables
//$purple: #5533ff; // Thats a sample how you could change a BootStrap variable.// Use this file to overwrite the basic Bootstrap variables and add your own variables
//$purple: #5533ff; // Thats a sample how you could change a BootStrap variable.

$font_default: Source Sans Pro;
$font_family_1: Oswald;
$font_family_2: Open Sans;

$primary_color: #FBBF16;
$secondary_color: #222827;
$tertiary_color: #024D36;
$quaternary_color: #F4F4F4;
$black_color: #000000;
$white_color: #ffffff;

$alt_color_1: #FFD561;
$alt_color_2: #BD0F15;